name: Greet Everyone
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
      # In production we want this workflow to run when commits are pushed to master. For development we use this test branch.
      - github-action-test

jobs:
  build:
    # Job name is Greeting
    name: Greeting
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      # This step uses GitHub's hello-world-javascript-action: https://github.com/actions/hello-world-javascript-action
      - name: Hello world
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: 'Mona the Octocat'
        id: hello
      # This step prints an output (time) from the previous steps's action.
      - name: Echo the greeting's time
        run: echo 'The time was ${{ steps.hello.outputs.time }}.'
      
      - name: Checkout exercism/pharo
        uses: actions/checkout@v2.3.4
        with:
          ref: '' # This should default to the branch and reference that triggered the workflow.
      - run: git show
        
