name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      
      - name: Fetch smalltalkCI
        uses: hpi-swa/setup-smalltalkCI@387e0a52e8cc6990f886fe825fd5bec8a6af9584
        id: smalltalkci
        with: 
          smalltalk-version: 'Pharo64-8.0'
      - run: smalltalkci -s ${{ steps.smalltalkci.outputs.smalltalk-version }}
        shell: bash
        timeout-minutes: 15
